.warning__extra-heading {
    color: crimson;
}
// .warning-container {
//     width: 50%;
//     margin-right: auto;
//     margin-left: auto;
// }
.warning-input {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.warning-btn {
    display: block;
    background-color: crimson;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.warning__icon{
    font-size: 40px;
    margin-bottom: 20px;
    color: crimson;
}